<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <title>CleanZen</title>
    <meta charset="utf-8">
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <![endif]-->
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css" id="color-switcher-link">
    <link rel="stylesheet" href="/css/animations.css">
    <link rel="stylesheet" href="/css/fonts.css">
    <script src="/js/vendor/modernizr-2.6.2.min.js"></script>

    <!--[if lt IE 9]>
        <script src="/js/vendor/html5shiv.min.js"></script>
        <script src="/js/vendor/respond.min.js"></script>
    <![endif]-->

</head>
<body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

<div id="box_wrapper">
        
    <section class="light_section">
        <a href="index"><i class="arrow-icon-left-thin"></i> Back to Home Page</a>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-push-3 text-center">
                    <h2 class="section_header">Welcome after</h2>
                    <div id="countdown"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-center">
                    <p>
                        <a class="socialico-facebook" href="#" title="Facebook" data-toggle="tooltip">#</a>
                        <a class="socialico-twitter" href="#" title="Twitter" data-toggle="tooltip">#</a>
                        <a class="socialico-google" href="#" title="Google" data-toggle="tooltip">#</a>
                    </p>
                </div>
            </div>
        </div>
    </section>

    
<div class="preloader">
    <div class="preloader_image"></div>
</div>


        <!-- libraries -->
        <script src="/js/vendor/jquery-1.11.1.min.js"></script>
        <script src="/js/vendor/bootstrap.min.js"></script>
        <script src="/js/vendor/jquery.appear.js"></script>

        <!-- superfish menu  -->
        <script src="/js/vendor/jquery.hoverIntent.js"></script>
        <script src="/js/vendor/superfish.js"></script>
        
        <!-- page scrolling -->
        <script src="/js/vendor/jquery.easing.1.3.js"></script>
        <script src='/js/vendor/jquery.nicescroll.min.js'></script>
        <script src="/js/vendor/jquery.ui.totop.js"></script>
        <script src="/js/vendor/jquery.localscroll-min.js"></script>
        <script src="/js/vendor/jquery.scrollTo-min.js"></script>
        <script src='/js/vendor/jquery.parallax-1.1.3.js'></script>

        <!-- widgets -->
        <script src="/js/vendor/jquery.easypiechart.min.js"></script><!-- pie charts -->
        <script src='/js/vendor/jquery.countTo.js'></script><!-- digits counting -->
        <script src='/js/vendor/jquery.plugin.min.js'></script><!-- plugin creator for comingsoon counter -->
        <script src='/js/vendor/jquery.countdown.js'></script><!-- coming soon counter -->
        <script src="/js/vendor/jquery.prettyPhoto.js"></script><!-- lightbox photos -->
        <script src='/js/vendor/jflickrfeed.min.js'></script><!-- flickr -->
        <script src='twitter/jquery.tweet.min.js'></script><!-- twitter -->

        <!-- sliders, filters, carousels -->
        <script src="/js/vendor/jquery.isotope.min.js"></script>
        <script src='/js/vendor/owl.carousel.min.js'></script>
        <script src='/js/vendor/jquery.fractionslider.min.js'></script>
        <script src='/js/vendor/jquery.flexslider-min.js'></script>
        <script src='/js/vendor/jquery.bxslider.min.js'></script>

        <!-- custom scripts -->
        <script src="/js/plugins.js"></script>
        <script src="/js/main.js"></script>

        

    </body>
</html>