<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <title>CleanZen</title>
    <meta charset="utf-8">
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <![endif]-->
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    
    <script type="text/javascript" src="/js/jquery.js"></script>
    <link rel="shortcut icon" href="gfx/favicon.ico">
    <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="/stylesheet/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheet/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheet/style.css">
    <link rel="stylesheet" href="/stylesheet/responsive.css">
    <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/datepicker.css">
    <link rel="stylesheet" href="/css/bootstrap.icons.css">
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css" id="color-switcher-link">
    <link rel="stylesheet" href="/css/animations.css">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/datepicker.css">
    <script src="/js/vendor/modernizr-2.6.2.min.js"></script>
	<script src="/js/vendor/my.js"></script>
	
        
    <!--[if lt IE 9]>
        <script src="/js/vendor/html5shiv.min.js"></script>
        <script src="/js/vendor/respond.min.js"></script>
    <![endif]-->
<script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script><!-- jQuery Form Validation code -->

    <script>
// When the browser is ready...
    $(function() {
    // Setup form validation on the #register-form element
    $("#payment-form").validate({
        ignore: [],
        // Specify the validation rules
        rules: {
            num_bed: "required",
            num_bath: "required",
            extra_facility: "required",
            Frequency: "required",
            address: "required",
            city: "required",
            name: "required",
            email: {
                required: true,
                email: true
            },
            phone: {
                      required: true,
                      number: true
                    }
        },
        
        // Specify the validation error messages
        messages: {
            num_bed: "Select Bedrooms",
            num_bath: "Select Bathrooms",
            extra_facility: "Select Extra Services",
            Frequency: "Select Frequency",
            address: "Address is required",
            city: "Enter Your City",
            name: "Enter Your Name"
        },
        
       /* submitHandler: function(form) {
            form.submit();
        }*/
    });
    $('#other').hide();
    $("#other-trigger" ).click(function() {
        $('#other').show();
    });
    $(".non-other-trigger" ).click(function() {
        $('#other').hide();
    });
    });

    </script>
    <script type="text/javascript" src="https://js.stripe.com/v1/"></script>
<!-- jQuery is used only for this example; it isn't required to use Stripe -->

    <style>
.error {
    color: #FF0000;
    }
    .payment-errors {
    color: #FF0000;
    }
    .calendar-box {
    display:none;
    background-color:#fff;
    border:1px solid #444;
    position:absolute;
    width:250px;
    padding: 0 5px;
    background: gainsboro;
    padding: 5px;
    border-radius: 5px;
    z-index: 5;
    }
    .calendar-box select.calendar-month {
    width:90px;
    }
    .calendar-box select.calendar-year {
    width:70px;
    }
    .calendar-box .calendar-cancel {
    width:100%;
    }
    .calendar-box table td {
    width:14%;
    }
    .calendar-box .calendar-title {
    text-align:center;
    }
    .calendar-box a {
    text-decoration:none;
    }
    .calendar-box .today a {
    padding:0 5px;
    margin-left:-5px;
    background-color:#ffe9c6;
    } 
    .calendar-box .selected a {
    padding:0 5px;
    margin-left:-5px;
    background-color:#c9ff8b;
    }

    .counting input[type="radio"] {
    display: none;
    }
    .serviceicons input[type="checkbox"] {
    display: none;
    }
    .cleanservice input[type="radio"] {
    display: none;
    }
    .col-fixed {
    width: 13.6%;
    }

    .find-us-title {
    margin-left: 15px;
    }


    .find-us-cont .question {
    color: #F47C0C;
    }

    .findus-cont input[type="radio"] {
    margin-top: 15px;
    }
    </style>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<!--  <script src="https://code.jquery.com/jquery-1.9.1.js"></script>-->

<script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script> <script>
$(function() {
    $( "#date" ).datepicker({dateFormat:'mm-dd-yy',minDate:0});

    $( "#anim" ).change(function() {
      $( "#date" ).datepicker( "option", "showAnim", $( this ).val() );
    });
    });
</script> 
    
</head>
<body>


    <!--Top Header-->
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->


<div id="box_wrapper">


    <section id="topline" class="light_section table_section">
         <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <a href="./" class="navbar-brand"><img src="example/logo.png" alt=""> Clean<span>Zen</span></a>
                    
                </div>
                <div class="col-sm-9 text-right">
                    <span>
                        <i class="fa fa-envelope-o"></i> <a href="mailto:info@company.net">info@cleanzen.net</a>
                    </span>
                    <span>
                        <i class="fa fa-phone"></i> +1 (669)300-1234
                    </span>
                    <span>
                        <a href="login" class="theme_button btn-sm"><i class="rt-icon-pen-alt-stroke"></i> Login!</a>
                    </span>
                     <span>
                        <a href="register" class="theme_button btn-sm">Register</a>
                    </span>
                </div>
                
            </div>
        </div>
    </section>


    <header id="header">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div>
                        <span id="toggle_mobile_menu"></span>
                        <span id="toggle_search"></span>
                        <div class="widget widget_search">
                            <form role="search" method="get" id="searchform" class="searchform form-inline" action="quote">
                                <div class="form-group">
                                    <label class="screen-reader-text" for="search">Search for:</label>
                                    <input type="text" value="" name="search" id="search" class="form-control" placeholder="ZipCode">
                                </div>
                                <button type="submit" id="searchsubmit" class="theme_button">Search</button>
                            </form>
                        </div>
                        <nav id="mainmenu_wrapper">
                            <ul id="mainmenu" class="nav sf-menu">
                                <li class="active">
                                    <a href="index">Home</a>
                                </li>
                                <li>
                                    <a href="index#info">About</a>
                                </li>
                                <li>
                                    <a href="index#services">Services</a>
                                </li>
                                <li>
                                    <a href="index#prices">Prices</a>
                                </li>
                                <li>
                                    <a href="quote">BookNow</a>
                                </li>
                                <li>
                                    <a href="comingsoon">CleaningTips</a>
                                </li>
                                                                
                                <li>
                                    <a href="blog">Blog</a>
                                </li>
                                 <li>
                                    <a href="analysis">Analysis</a>
                                </li>
                                <li>
                                    <a href="videos">Videos</a>
                                </li>
                                <li>
                                    <a href="contact">Contact</a>
                                </li>
                            </ul>  
                        </nav>
                    </div>
                
                </div>
            </div>
        </div>
    </header>
    
<section class="light_section page404" id="content">
    <div class="container">
        <div class="innerpagewrap">
            <h2 class="title txtleft">Get Your Estimate</h2>


            <form method="post" id="payment-form" action="/getsp">
                <div class="row">
                    <!--Leftside-->


                    <div class="col-md-9">
                        <div class="innerpagecontainer">
                            <!--Step One-->


                            <div class="bookingsteps">
                                <h4><span>Step 1.</span>Your Cleaning
                                Details</h4>


                                <div class="substep">
                                    <h6>Tell Us About Your Home<span class="require">*</span></h6>


                                    <div class="greyroundbox">
                                        <h2>Bedrooms:</h2>


                                        <div class="counting">
                                            <ul>
                                                <li>
                                                    <a onclick="check_radio('num_bed0');" id="num_bed0_0">0</a>
                                                </li>


                                                <li>
                                                    <a onclick="check_radio('num_bed1');" id="num_bed1_0">1</a>
                                                </li>


                                                <li>
                                                    <a onclick="check_radio('num_bed2');" id="num_bed2_0">2</a>
                                                </li>


                                                <li>
                                                    <a onclick="check_radio('num_bed3');" id="num_bed3_0">3</a>
                                                </li>


                                                <li>
                                                    <a onclick="check_radio('num_bed4');" id="num_bed4_0">4</a>
                                                </li>


                                                <li>
                                                    <a onclick="check_radio('num_bed5');" id="num_bed5_0">5</a>
                                                </li>


                                                <li style="list-style: none">
                                                <input type="radio" value="0" name="num_bed" id="num_bed0"> <input type="radio" value="1" name="num_bed" id="num_bed1"> <input type="radio" value="2" name="num_bed" id="num_bed2"> <input type="radio" value="3" name="num_bed" id="num_bed3"> <input type="radio" value="4" name="num_bed" id="num_bed4"> <input type="radio" value="5" name="num_bed" id="num_bed5"></li>
                                            </ul>


                                            <div class="clearfix">
                                            </div>
                                        </div>


                                        <h2>Bathrooms:</h2>


                                        <div class="counting">
                                            <ul>
                                                <li>
                                                    <a onclick="check_radio_bh('num_bath0');" id="num_bath0_0">
                                                    0</a>
                                                </li>


                                                <li>
                                                    <a onclick="check_radio_bh('num_bath1');" id="num_bath1_0">
                                                    1</a>
                                                </li>


                                                <li>
                                                    <a onclick="check_radio_bh('num_bath2');" id="num_bath2_0">
                                                    2</a>
                                                </li>


                                                <li>
                                                    <a onclick="check_radio_bh('num_bath3');" id="num_bath3_0">
                                                    3</a>
                                                </li>


                                                <li>
                                                    <a onclick="check_radio_bh('num_bath4');" id="num_bath4_0">
                                                    4</a>
                                                </li>


                                                <li>
                                                    <a onclick="check_radio_bh('num_bath5');" id="num_bath5_0">
                                                    5</a>
                                                </li>


                                                <li class="txtshow">Round half
                                                bathrooms up so the proper time
                                                is allotted</li>


                                                <li style="list-style: none">
                                                <input type="radio" value="0" name="num_bath" id="num_bath0"> <input type="radio" value="1" name="num_bath" id="num_bath1"> <input type="radio" value="2" name="num_bath" id="num_bath2">
                                                <input type="radio" value="3" name="num_bath" id="num_bath3"> <input type="radio" value="4" name="num_bath" id="num_bath4"> <input type="radio" value="5" name="num_bath" id="num_bath5"></li>
                                            </ul>


                                            <div class="clearfix">
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="substep">
                                    <h6>Extra Services<span class="require">*</span></h6>


                                    <div class="greyroundbox">
                                        <div class="serviceicons">
                                            <input type="hidden" value="" name="extra_facility" id="extra_facility">

                                            <ul>
                                                <li class="ovan">
                                                    <input type="checkbox" value="Inside&nbsp;ovan" name="ex_ser" id="ovan"><a onclick="check_box_ex('ovan');" id="ser_ovan">Inside
                                                    oven</a>
                                                </li>


                                                <li class="fridge">
                                                    <input type="checkbox" value="Inside&nbsp;Fridge" name="ex_ser" id="fridge"><a onclick="check_box_ex('fridge');" id="ser_fridge">Inside
                                                    Fridge</a>
                                                </li>


                                                <li class="window">
                                                    <input type="checkbox" value="Interior&nbsp;Windows" name="ex_ser" id="window"><a onclick="check_box_ex('window');" id="ser_window">Interior
                                                    Windows</a>
                                                </li>


                                                <li class="wall">
                                                    <input type="checkbox" value="Wall&nbsp;Washing" name="ex_ser" id="wall"><a onclick="check_box_ex('wall');" id="ser_wall">Wall
                                                    Washing</a>
                                                </li>


                                                <li class="cabinets">
                                                    <input type="checkbox" value="Inside&nbsp;Cabinets" name="ex_ser" id="cabinets"><a onclick="check_box_ex('cabinets');" id="ser_cabinets">Inside
                                                    Cabinets</a>
                                                </li>
                                            </ul>


                                            <div class="clearfix">
                                            </div>
                                        </div>
                                    </div>


                                    <p class="text-center"><span class="colororange">OR</span> Select them all for
                                    a full Moveout (in) / Deep Cleaning</p>
                                </div>


                                <div class="substep">
                                    <h6>Frequency<span class="require">*</span></h6>


                                    <div class="greyroundbox">
                                        <div class="cleanservice">
                                            <ul>
                                                <li class="onetimeclean">
                                                    <a onclick="check_radio_fr('one_time');" id="fer_one_time">
                                                    One time Cleaning</a>
                                                </li>


                                                <li class="monthlyclean">
                                                    <a onclick="check_radio_fr('month');" id="fer_month">Monthly
                                                    Cleaning</a>
                                                </li>


                                                <li class="bi-weeklyclean">
                                                    <a onclick="check_radio_fr('bi_week');" id="fer_bi_week">
                                                    Bi-Weekly Cleaning</a>
                                                </li>


                                                <li class="weeklyclean">
                                                    <a onclick="check_radio_fr('week');" id="fer_week">Weekly
                                                    Cleaning</a>
                                                </li>
                                            </ul>
                                            <input type="radio" value="one" name="Frequency" id="one_time"> <input type="radio" value="month" name="Frequency" id="month"> <input type="radio" value="bi_week" name="Frequency" id="bi_week"> <input type="radio" value="week" name="Frequency" id="week">

                                            <div class="clearfix">
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row pT15">
                                        <div class="col-md-3">
                                      <input name="date1" type="text" id="example1" placeholder="Select date"> 
                                     </div>
                                    
                                        <div class="col-md-3">
                                            <select onchange="call();" name="time_sel" id="MyDropDownList" class="wdthpercent95">
                                                <option selected="">
                                                    Time
                                                </option>

                                                <option value="7 AM">
                                                    7 AM
                                                </option>

                                                <option value="7:30 AM">
                                                    7:30 AM
                                                </option>

                                                <option value="8 AM">
                                                    8 AM
                                                </option>

                                                <option value="8:30 AM">
                                                    8:30 AM
                                                </option>

                                                <option value="9 AM">
                                                    9 AM
                                                </option>

                                                <option value="9:30 AM">
                                                    9:30 AM
                                                </option>

                                                <option value="10 AM">
                                                    10 AM
                                                </option>

                                                <option value="10:30 AM">
                                                    10:30 AM
                                                </option>

                                                <option value="11 AM">
                                                    11 AM
                                                </option>

                                                <option value="11:30 AM">
                                                    11:30 AM
                                                </option>

                                                <option value="12 PM">
                                                    12 PM
                                                </option>

                                                <option value="12:30 PM">
                                                    12:30 PM
                                                </option>

                                                <option value="1 PM">
                                                    1 PM
                                                </option>

                                                <option value="1:30 PM">
                                                    1:30 PM
                                                </option>

                                                <option value="2 PM">
                                                    2 PM
                                                </option>

                                                <option value="2:30 PM">
                                                    2:30 PM
                                                </option>

                                                <option value="3 PM">
                                                    3 PM
                                                </option>

                                                <option value="3:30 PM">
                                                    3:30 PM
                                                </option>

                                                <option value="4 PM">
                                                    4 PM
                                                </option>

                                                <option value="4:30 PM">
                                                    4:30 PM
                                                </option>

                                                <option value="5 PM">
                                                    5 PM
                                                </option>

                                                <option value="5:30 PM">
                                                    5:30 PM
                                                </option>

                                                <option value="6 PM">
                                                    6 PM
                                                </option><!-- <script>
                                        $( document ).ready(function() {
                                        var select = document.getElementById('MyDropDownList');
                                        for (var i=7;i<=18;i++)
                                        {
                                           var amPm=(i<13)?" AM":" PM";
                                           var j=(i>12)?i-12:i;
                                           select.options[select.options.length] = new Option(j+amPm, j+amPm);
                                           select.options[select.options.length] = new Option(j+":30"+amPm, j+":30"+amPm);
                                        }
                                        });
                                        </script>-->
                                            </select>
                                        </div>
                                       
                                    </div>
                                </div>


                                <div class="substep">
                                    <h6>Additional Instructions</h6>


                                    <div class="row">
                                        <div class="col-md-6">
                                            <textarea rows="3" placeholder="Parking/Entry Instructions, Pets, Etc." name="comment" cols="" class="wdthpercent95"></textarea>
                                        </div>


                                        
                                    </div>
                                </div>
                            </div>
                           
                            <div class="bookingsteps">
            <p class="sqft">Size <input type="checkbox" value="" name="sqft" id="sqft"> I know My
                                Square Footage</p>

                                <div style="visibility:hidden;" id="square" class="sqft-selector">
                                    <select name="sqft_value">
                                        <option value="0">
                                            &lt; 500
                                        </option>

                                        <option value="500">
                                            500 - 1000
                                        </option>

                                        <option value="1000">
                                            1000 - 2000
                                        </option>

                                        <option value="2000">
                                            2000 - 3000
                                        </option>

                                        <option value="3000">
                                            3000 - 4000
                                        </option>

                                        <option value="4000">
                                            4000+
                                        </option>
                                    </select>
                                </div>
                            </div>
                        <div class="row">
                                <div class="col-md-5">
                                    <input type="submit" value="GET ESTIMATE" name="quote" class="submit-button bookbtn">
                                </div>

                            </div>
                    </div>
                    </div>
               </div>
            </form>
        </div>
    </div>
</section>


    <footer id="footer" class="grey_section">
        <div class="container">
            <div class="row">

                <div class="col-md-3 col-sm-6 to_animate">
                    <div class="widget widget_flickr">
                        <h3 class="widget-title" style="color:#FFF">Flickr Widget</h3>
                        <ul id="flickr"></ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 to_animate">

                    <div class="widget widget_twitter">
                        <h3 class="widget-title" style="color:#FFF">Twitter Widget</h3>
                        <div class="twitter"></div>
                    </div>

                </div>
                    
                    
                
                <div class="col-md-3 col-sm-6 to_animate">
                    <div class="widget widget_mailchimp">
                        <h3 class="widget-title" style="color:#FFF">Subscribe</h3>
                        <p>Please, subscribe to our latest news to be updated.</p>
                        <form id="signup" action="/" method="get" class="form-inline">
                            <div class="form-group">
                                <input name="email" id="mailchimp_email" type="email" class="form-control" placeholder="your@email.com">
                            </div>
                            <button type="submit" class="theme_button">Send</button>
                            <div id="response"></div>
                        </form>
                    </div>

                </div>


                <div class="col-md-3 col-sm-6 to_animate">
                    <div class="widget widget_text">
                        <h3 class="widget-title">Company Info</h3>
                        <p>CleanZen is the most trusted name among residential cleaning companies because we consistently deliver value through quality service and premium products that meet or exceed our customers’ expectations.</p>
                        <p> All of this accentuates why we are a top cleaning company. </p>
                        <p>
                            <a class="socialico-facebook" href="#" title="Facebook" data-toggle="tooltip">#</a>
                            <a class="socialico-twitter" href="#" title="Twitter" data-toggle="tooltip">#</a>
                            <a class="socialico-google" href="#" title="Google" data-toggle="tooltip">#</a>
                        </p>
                    </div>
                </div>
                    
                    
                
            
            </div>
        </div>
    </footer>


    <section id="copyright" class="light_section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <p>&copy; Copyright 2014 - <strong>Cleanzen</strong></p>
                </div>
                               
            </div>
        </div>
    </section>
 

</div><!-- eof #box_wrapper -->

<div class="preloader">
    <div class="preloader_image"></div>
</div>


        <!-- libraries -->
        <script src="/js/vendor/jquery-1.11.1.min.js"></script>
        <script src="/js/vendor/bootstrap.min.js"></script>
        <script src="/js/vendor/jquery.appear.js"></script>

        <!-- superfish menu  -->
        <script src="/js/vendor/jquery.hoverIntent.js"></script>
        <script src="/js/vendor/superfish.js"></script>
        
        <!-- page scrolling -->
        <script src="/js/vendor/jquery.easing.1.3.js"></script>
        <script src='/js/vendor/jquery.nicescroll.min.js'></script>
        <script src="/js/vendor/jquery.ui.totop.js"></script>
        <script src="/js/vendor/jquery.localscroll-min.js"></script>
        <script src="/js/vendor/jquery.scrollTo-min.js"></script>
        <script src='/js/vendor/jquery.parallax-1.1.3.js'></script>

        <!-- widgets -->
        <script src="/js/vendor/jquery.easypiechart.min.js"></script><!-- pie charts -->
        <script src='/js/vendor/jquery.countTo.js'></script><!-- digits counting -->
        <script src="/js/vendor/jquery.prettyPhoto.js"></script><!-- lightbox photos -->
        <script src='/js/vendor/jquery.plugin.min.js'></script><!-- plugin creator for comingsoon counter -->
        <script src='/js/vendor/jquery.countdown.js'></script><!-- coming soon counter -->        
        <script src="/js/vendor/jquery.elevateZoom-3.0.8.min.js"></script><!-- zoom images -->
        <script src='/js/vendor/jflickrfeed.min.js'></script><!-- flickr -->
        <script src='twitter/jquery.tweet.min.js'></script><!-- twitter -->

        <!-- sliders, filters, carousels -->
        <script src="/js/vendor/jquery.isotope.min.js"></script>
        <script src='/js/vendor/owl.carousel.min.js'></script>
        <script src='/js/vendor/jquery.fractionslider.min.js'></script>
        <script src='/js/vendor/jquery.flexslider-min.js'></script>
        <script src='/js/vendor/jquery.bxslider.min.js'></script>

        <!-- custom scripts -->
        <script src="/js/plugins.js"></script>
        <script src="/js/main.js"></script>

        <!-- Load jQuery and bootstrap datepicker scripts -->
        <!--<script src="/js/jquery-1.9.1.min.js"></script>-->
        <script src="/js/bootstrap-datepicker.js"></script>
        <script type="text/javascript">
         // When the document is ready
         $(document).ready(function () {
          $('#example1').datepicker({
          format: "dd/mm/yyyy"
          });  
          });
        //oncheck
        $("#sqft").change(function() {
    	if($("#sqft").prop("checked")) {
        $(".sqft-selector").css("visibility", "visible");
        //$(window).data("sqft", parseInt($("#sqft-selector").val()));
   		 } else {
        $(".sqft-selector").css("visibility", "hidden");
        //$(window).data("sqft", null);
   		 }
});
       </script>
       
    </body>
</html>